<h1>Input moves</h1>
{{#if PassManager.isPassing}}
  {{partial 'pass'}}
{{else}}
  <p>You are {{current-player-color}} ({{current-player-name}}).</p>
  <div id="moveInput">
  <p>
    {{#if shoot}}
      <button {{action "submitMove" "shoot" }}>shoot gun</button>
      <button {{action "submitMove" "drop" }}>drop gun</button>
    {{ else }}
      {{#if nw}}  
        <button {{action "submitMove" "nw" }}>nw</button>
      {{ else }}
        <span class="buttonSpacer"></span>
      {{/if}}
      {{#if n}}
        <button {{action "submitMove" "n" }}>n</button>
      {{ else }}
        <span class="buttonSpacer"></span>
      {{/if}}
      {{#if ne }}
        <button {{action "submitMove" "ne" }}>ne</button>
      {{ else }}
        <span class="buttonSpacer"></span>
      {{/if}}
    {{/if}}
  </p>
  <p>        
    {{#if w }}
      <button {{action "submitMove" "w" }}>w</button>
    {{ else }}
      <span class="buttonSpacer"></span>
    {{/if }}
    {{#if hold}}
      <button {{action "submitMove" "hold" }}>hold</button>
    {{ else }}
      <span class="buttonSpacer"></span>
    {{/if }}
    {{#if e }}
    <button {{action "submitMove" "e" }}>e</button>
    {{ else }}
      <span class="buttonSpacer"></span>
    {{/if }}
  </p>
  <p>        
    {{#if sw}}
      <button {{action "submitMove" "sw" }}>sw</button>
    {{ else }}
      <span class="buttonSpacer"></span>
    {{/if }}
    {{#if s}}
     <button {{action "submitMove" "s" }}>s</button>
    {{ else }}
      <span class="buttonSpacer"></span>
    {{/if }}
    {{#if se}}
    <button {{action "submitMove" "se" }}>se</button>
    {{ else }}
      <span class="buttonSpacer"></span>
    {{/if }}
  </p>
  </div>
{{/if}}